{% extends "layout.html" %}
{% load static from staticfiles %}

{% block title %}Task{% endblock %}

{% block content %}

    <h1>{{ task.name }}</h1>

    {{ task.how }}
    {{ task.reason }}
    {{ task.duration }}
    {{ task.priority }}
    {{ task.deadline_date }}


    {% if not task.done %}
        <form action="{% url 'tasks:edit-task' pk=task.pk%}">
            <button class="btn btn-primary" type="submit">
                Edit Task
            </button>
        </form>
    {% endif %}
{% endblock %}
