{% extends "layout.html" %}
{% load static from staticfiles %}

{% block title %}Inicio de sesión{% endblock %}

{% block content %}

    <h1>Task Managers</h1>

    <h3>Important task</h3>

    <ul>
        {% for task in important_task %}
            <li>
                <div class="row">
                    <div class="col">
                        <a href="{% url 'tasks:task' pk=task.pk %}"> {{ task.name }} </a>
                    </div>
                    <div class="col">
                        <form action="{% url 'tasks:task-action' pk=task.pk action='Done' %}" method="post">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-success">Done</button>
                        </form>
                    </div>
                </div>
            </li>
        {% endfor %}
    </ul>

    <h3>Today Task</h3>

    <ul>
        {% for task in today_task %}
            <li>
                <div class="row">
                    <div class="col">
                        <a href="{% url 'tasks:task' pk=task.pk %}"> {{ task.name }} </a>
                    </div>
                    <div class="col">
                        <form action="{% url 'tasks:task-action' pk=task.pk action='Done' %}" method="post">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-success">Done</button>
                        </form>
                    </div>
                </div>
            </li>
        {% endfor %}
    </ul>
{% endblock %}
